MAILGUN_DOMAIN=""
MAILGUN_SENDER_EMAIL=""
MAILGUN_API_KEY=""

EDGEDB_INSTANCE=""
EDGEDB_SECRET_KEY=""
EDGEDB_AUTH_SIGNING_KEY=""
EDGEDB_AUTH_CALLBACK_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_ID=""
GITHUB_SECRET=""

NEXTAUTH_SECRET=""
BLOGS_URL=""