MAILGUN_API_KEY=
EDGEDB_INSTANCE=
EDGEDB_SECRET_KEY=
EDGEDB_AUTH_SIGNING_KEY=
EDGEDB_AUTH_CALLBACK_URL=
FIREBASE_API_KEY=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_SECRET=
NEXT_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=